<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="orderstatus" id="orderstatus">  <!-- frontname that we access on url -->
            <module name="SRTechnologies_OrderStatus"/>    <!-- Module name declaring -->
        </route>
    </router>
</config>